{% load compress %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="height=device-height,width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        {% compress css %}
        <link rel="stylesheet" type="text/less" href="{{STATIC_URL}}less/bootstrap/bootstrap.less">
        <link rel="stylesheet" type="text/less" href="{{STATIC_URL}}less/bootstrap/responsive.less">
        <link rel="stylesheet" href="{{STATIC_URL}}css/fresco.css">
        <link rel="stylesheet" type="text/less" href="{{STATIC_URL}}less/project.less">
        <link rel="stylesheet" type="text/less" href="{{STATIC_URL}}less/project-mobile.less">
        <link rel="stylesheet" type="text/less" href="{{STATIC_URL}}less/project-1200px.less">
        <!-- <link rel="stylesheet" href="css/typeplate.css"> -->
        {% endcompress %}
        {% compress js %}
        <script src="{{STATIC_URL}}js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="{{STATIC_URL}}js/vendor/selectivizr-min.js"></script>
        {% endcompress %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Facebook -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "http://connect.facebook.net/pl_PL/all.js#xfbml=1";
          js.async = true;
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <!-- Code -->
        <div class="container">
            <header class="row">
                <div class="span2 logo">
                    <a href="{% url 'index' %}" title="Znajdź restaurację w Toruniu"><img src="{{STATIC_URL}}img/logo.png" alt="Pomysł na dziś"></a>
                </div>
                <div class="span2 fb">
                    <div class="fb-like" data-href="http://www.facebook.com/PomyslNaDzis" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="segoe ui"></div>
                </div>
                <div class="span8 szukajka hidden-phone">
                    <div class="input-append">
                        <form action="{% url 'search' %}" method="POST">{% csrf_token %}
                            <input type="text" name="szukaj" value="" placeholder="wpisz nazwę lokalu lub ulicę" class="span6 search">
                            <button class="btn" type="button"><i class="icon-search"></i></button>
                        </form>
                    </div>
                </div>
            </header>
            <section class="row hello-unit hidden-phone">
                <div class="span12">
                    <h1>{% block hero-text %}{% endblock %}</h1>
                    <a href="{% url 'cos-nowego' %}" class="btn btn-xlarge btn-cta pull-right">Kliknij tu!</a>
                </div>
            </section>
            {% block main %}
            {% endblock %}
            <footer class="row">
                <!-- Linki do mniej ważnych podstron i klauzule prawne -->
                <div class="span3">
                    <ul class="unstyled">
                        <li class="">
                            <a href="{% url 'regulamin' %}">Regulamin serwisu</a>
                        </li>
                        <li class="">
                            <a href="{% url 'polityka-prywatnosci' %}">Polityka prywatności</a>
                        </li>
                        <li class="">
                            <a href="{% url 'kontakt' %}">Kontakt</a>
                        </li>
                        <li class="">
                            <a href="{% url 'reklama' %}">Reklama w serwisie</a>
                        </li>
                    </ul>
                </div>
                <div class="span6">
                    <p>
                        Wszelkie prawa zastrzeżone. &copy; 2013 Pomysł na dziś
                    </p>
                </div>
                <!-- Odnośniki do portali społecznościowych -->
                <div class="span3 social">
                    <a href="https://www.facebook.com/PomyslNaDzis"><i class="social-fb"></i></a>
                    <a href="https://plus.google.com/104084138042832159203/posts"><i class="social-gp"></i></a>
                    <a href="https://twitter.com/pomyslnadzis"><i class="social-tw"></i></a>
                </div>
            </footer>
        </div>

        <!-- JS Libs -->
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
        {% block js-nc %}
        {% endblock %}

        {% block js-comp %}
        {% endblock %}

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. 
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>-->
    </body>
</html>
