{% extends "base.html" %}
{% block main %}
            <section class="row main" role="main">
                <aside class="span4 details">
                    <div>
                        <i class="icon-time"></i> Godziny otwarcia:
                        <span>8:00 - 23:00</span>
                    </div>
                    <div>
                        <i class="icon-group"></i> Ilość miejsc:
                        {% if place.tables.all %}
                        {% for table in place.tables.all %}
                        <span>{{ table.quantity }}x Stolik {{ table.get_table_display }}</span>
                        {% endfor %}
                        {% else %}
                        <br><small>Przepraszamy za brak danych. Prosimy skontaktować się z lokalem telefonicznie</small>
                        {% endif %}
                    </div>
                    <div>
                        <i class="icon-screenshot"></i> Adres:
                        <span>{{ place.address }}</span>
                    </div>
                    <div>
                        <i class="icon-globe"></i> Mapa:
                        <div id="map" style="height: 250px;"></div>
                    </div>
                </aside>
                <article class="information span8">
                    <h1>{{ place.name }}</h1>
                    <p>{{ place.desc }}</p>
                    {% if place.menu.all %}
                    <div>
                        <h2>Menu:</h2>
                        <dl>
                            {% for menu in place.menu.all %}
                            <dt>{{ menu.name }} ({{ menu.prize }}zł)</dt>
                            <dd>{{ menu.desc }} </dd>
                            {% endfor %}
                        </dl>
                    </div>
                    {% endif %}
                    {% if place.photos.all %}
                    <div>
                        <h2>Galeria:</h2>
                        <div>
                            {% for img in place.photos.all %}
                            <a href="{{ img.photo }}" class="fresco" data-fresco-group="gallery" data-fresco-caption="Frans Hals, Banquet of the Officers of the St George Civic Guard, 1627"><img src="http://placehold.it/100x100"></a>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <div>
                        <h2>Komentarze:</h2>
                        <div class="fb-comments" data-href="{% url 'detail' place.id %}" data-width="470" data-num-posts="10"></div>
                    </div>
            </section>
{% endblock %}
{% block js-nc %}
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
{% endblock %}
{% block js %}
<script src="{{STATIC_URL}}js/gmaps.js"></script>
<script>
map = new GMaps({
  div: '#map',
  lat: 53.01379,
  lng: 18.59844
});
GMaps.geocode({
  address: "{{ place.address }}",
  callback: function(results, status) {
    if (status == 'OK') {
      var latlng = results[0].geometry.location;
      map.setCenter(latlng.lat(), latlng.lng());
      map.addMarker({
        lat: latlng.lat(),
        lng: latlng.lng()
      });
    }
  }
});
</script>
{% endblock %}