{% extends "base.html" %}
{% block title %}Lokal {{ place.name }} - informacje, zdjęcia, komentarze - Pomysł na dziś{% endblock %}
{% block description %}Byłeś już w lokalu {{ place.name }}? Zobacz więcej informacji o tym miejscu. Sprawdź menu, zdjęcia i komentarze innych.{% endblock %}
{% load compress %}
{% block main %}
            <section class="row main" role="main">
                <aside class="span4 details">
                    <div>
                        <i class="icon-time"></i> Godziny otwarcia:
                        {% if place.hour_open and place.hour_close %}
                        <span>{{ place.hour_open }} - {{ place.hour_close }}</span>
                        {% else %}
                        <br>
                        <small>Przepraszamy za brak danych. Prosimy skontaktować się z lokalem telefonicznie, bądź osobiście.</small>
                        {% endif %}
                    </div>
                    <div>
                        <i class="icon-group"></i> Ilość miejsc:
                        {% if place.tables.all %}
                        {% for table in place.tables.all %}
                        <span>{{ table.quantity }}x Stolik {{ table.get_table_display }}</span>
                        {% endfor %}
                        {% else %}
                        <br><small>Przepraszamy za brak danych. Prosimy skontaktować się z lokalem telefonicznie, bądź osobiście.</small>
                        {% endif %}
                    </div>
                    <div>
                        <i class="icon-screenshot"></i> Adres:
                        <span>{{ place.address }}</span>
                    </div>
                    <div>
                        <i class="icon-globe"></i> Mapa:
                        <div id="map" style="height: 250px;"></div>
                    </div>
                </aside>
                <article class="information span8">
                    <h1>{{ place.name }}</h1>
                    {% if place.desc %}
                    <p>{{ place.desc }}</p>
                    {% else %}
                    <p>Przepraszamy, ale nie posiadamy więcej informacji na temat danego lokalu. Cały czas aktualizujemy naszą bazę wiedzy, prosimy o chwilę cierpliwości i zapraszamy ponownie później. Jeśli mają Państwo więcej informacji o tym lokalu prosimy o komentarz, bądź kontakt z nami.</p>
                    {% endif %}
                    {% if place.menu.all %}
                    <div>
                        <h2>Menu:</h2>
                        <dl>
                            {% for menu in place.menu.all %}
                            <dt>{{ menu.name }} ({{ menu.prize }}zł)</dt>
                            <dd>{{ menu.desc }} </dd>
                            {% endfor %}
                        </dl>
                    </div>
                    {% endif %}
                    {% if place.photos.all %}
                    <div>
                        <h2>Galeria:</h2>
                        <div>
                            {% for img in place.photos.all %}
                            <a href="{{ img.photo }}" class="fresco" data-fresco-group="gallery" data-fresco-caption="Frans Hals, Banquet of the Officers of the St George Civic Guard, 1627"><img src="{{ img.photo_thumbnail }}"></a>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <div>
                        <h2>Komentarze:</h2>
                        <div class="fb-comments" data-href="{% url 'detail' place.id %}" data-width="470" data-num-posts="10"></div>
                    </div>
            </section>
{% endblock %}
{% block js-nc %}
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
{% endblock %}
{% block js-comp %}

{% compress js %}
<script src="{{STATIC_URL}}js/fresco.js"></script>  
<script src="{{STATIC_URL}}js/gmaps.js"></script>
<script src="{{STATIC_URL}}js/main.js"></script>
{% endcompress %}

<script>
map = new GMaps({
  div: '#map',
  lat: 53.01379,
  lng: 18.59844,
  panControl: false,
  zoomControl: false,
  mapTypeControl: false,
  scaleControl: false,
  streetViewControl: false,
  overviewMapControl: false
});
GMaps.geocode({
  address: "{{ place.address }}",
  callback: function(results, status) {
    if (status == 'OK') {
      var latlng = results[0].geometry.location;
      map.setCenter(latlng.lat(), latlng.lng());
      map.addMarker({
        lat: latlng.lat(),
        lng: latlng.lng()
      });
    }
  }
});
</script>


{% endblock %}