{% extends "base.html"}
{% block main %}
            <section class="row main" role="main">
                <aside class="span4 details">
                    <div>
                        <i class="icon-time"></i> Godziny otwarcia:
                        <span>8:00 - 23:00</span>
                    </div>
                    <div>
                        <i class="icon-group"></i> Ilość miejsc:
                        <span>2x stolik dwuosobowy</span>
                        <span>6x stolik sieściosobowy</span>
                    </div>
                    <div>
                        <i class="icon-screenshot"></i> Adres:
                        <span>Ślusarska 5</span>
                    </div>
                    <div>
                        <i class="icon-globe"></i> Mapa:
                        <img src="http://placehold.it/500x400" alt="">
                    </div>
                </aside>
                <article class="information span8">
                    <h1>Klub nocny TANTRA</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <div>
                        <h2>Menu:</h2>
                        <dl>
                            <dt>Amber Boy (12zł)</dt>
                            <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. </dd>
                            <dt>Amber Boy (12zł)</dt>
                            <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. </dd>
                            <dt>Amber Boy (12zł)</dt>
                            <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. </dd>
                            <dt>Amber Boy (12zł)</dt>
                            <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. </dd>
                            <dt>Amber Boy (12zł)</dt>
                            <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. </dd>
                        </dl>
                    </div>
                    <div>
                        <h2>Galeria:</h2>
                        <div>
                            <a href="#"><img src="http://placehold.it/100x100" class="img-rounded"></a>
                            <a href="#"><img src="http://placehold.it/100x100" class="img-rounded"></a>
                            <a href="#"><img src="http://placehold.it/100x100" class="img-rounded"></a>
                            <a href="#"><img src="http://placehold.it/100x100" class="img-rounded"></a>
                        </div>
                    </div>
                    <div>
                        <h2>Komentarze:</h2>
                        <div class="fb-comments" data-href="http://example.com" data-width="470" data-num-posts="10"></div>
                    </div>
            </section>
{% endblock %}