{% extends "base.html" %}
{% block title %}Pizza, piwo, kawa, czekolada, imprezy, cluby - Pomysł na dziś :: Toruń{% endblock %}
{% block description %}Szukasz miejsca na wypad z przyjaciólmi? Chcesz poznać smak regionalnego piwa? Kliknij i znajdź resturacje na dziś!{% endblock %}
{% block hero-text %}Pomóż nam w rewolucji!{% endblock %}
{% block main %}
            <section class="row main" role="main">
            	<div class="span12">
            		<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            		consequat.</h3>
            		<div class="row helper">
	            		<div class="span2 heads first active">
	            			<div class="step">1</div>
	            		</div>
	            		<div class="span10 heads first active">
	            			<h3>Zapisz się na newsletter</h3>
	            			<p>Tekst wyjaśniający o co kaman i wgl.</p>
	            		</div>
	            		<div class="span10 offset2 content">
	            			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	            			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	            			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	            			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	            			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	            			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	            		</div>
	            	</div>
	            	<div class="row helper">
	            		<div class="span2 heads">
	            			<div class="step">2</div>
	            		</div>
	            		<div class="span10 heads">
	            			<h3>Polub nas fanpejdż</h3>
	            			<p>Tekst wyjaśniający o co kaman i wgl.</p>
	            		</div>
	            		<div class="span10 offset2 content hidden">
	            			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	            			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	            			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	            			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	            			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	            			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	            		</div>
	            	</div>
	            	<div class="row helper">
	            		<div class="span2 heads">
	            			<div class="step">3</div>
	            		</div>
	            		<div class="span10 heads">
	            			<h3>Udostępnij nas na fejsie</h3>
	            			<p>Tekst wyjaśniający o co kaman i wgl.</p>
	            		</div>
	            		<div class="span10 offset2 content hidden">
	            			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	            			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	            			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	            			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	            			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	            			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	            		</div>
	            	</div>
	            	<div class="row helper">
	            		<div class="span2 heads">
	            			<div class="step">4</div>
	            		</div>
	            		<div class="span10 heads">
	            			<h3>Wypełnij krótką ankietę</h3>
	            			<p>Tekst wyjaśniający o co kaman i wgl.</p>
	            		</div>
	            		<div class="span10 offset2 content hidden">
	            			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	            			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	            			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	            			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	            			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	            			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	            		</div>
	            	</div>
	            	<div class="row helper">
	            		<div class="span2 heads">
	            			<div class="step">5</div>
	            		</div>
	            		<div class="span10 heads">
	            			<h3>Powiedz znajomym</h3>
	            			<p>Tekst wyjaśniający o co kaman i wgl.</p>
	            		</div>
	            		<div class="span10 offset2 content hidden">
	            			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	            			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	            			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	            			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	            			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	            			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	            		</div>
	            	</div>
            	</div>
            </section>
{% endblock %}
{% block js-comp %}
{% load compress %}
{% compress js %}
<script src="{{STATIC_URL}}js/help-us.js"></script>  
{% endcompress %}
{% endblock %}