{% extends "base.html" %}
{% block title %}Pizza, piwo, kawa, czekolada, imprezy, cluby - Pomysł na dziś :: Toruń{% endblock %}
{% block description %}Szukasz miejsca na wypad z przyjaciólmi? Chcesz poznać smak regionalnego piwa? Kliknij i znajdź resturacje na dziś!{% endblock %}
{% block main %}
            <section class="row main" role="main">
                <!-- Sekcja główna z wyszukiwarką -->
                <article class="span8">
                    <h2>Co chcesz zrobić na mieście?</h2>
                    <ul class="row">
                        {% for tag in tags %}
                        <li class="span4">
                            <div class="search-container"><a href="{% url 'results' tag.slug %}" class="btn btn-xlarge btn-block btn-search"><div>{{ tag.desc }}</div></a></div>
                        </li>
                        {% endfor %}
                    </ul>
                </article>
                <!-- Sidebar z reklamą -->
                <aside class="span4">
                    <div class="kontener">
                        <h3>Nasz pomysł:</h3>
                        {% if idea %}
                        {% if idea.photo %}
                        <img src="{{ idea.photo }}" alt="{{ idea.place.name }}">
                        {% endif %}
                        <address>
                            <strong>{{ idea.place.name }}</strong><br>
                            {{ idea.place.address }}<br>
                            <!-- <abbr title="Menu">Proponujemy:</abbr><br>
                            {% for tag in idea.place.tags.all %}
                                {{ tag }}
                            {% endfor %} -->
                            <p>{{ idea.slogan }}</p>
                        </address>
                        <a href="{% url 'detail' idea.place.id %}" class="btn btn-large btn-block">Zobacz naszą propozycję!</a>
                        {% else %}
                        <p>Zakręć kołem fortuny, zdaj się na los i odkryj nową dusze Torunia. <b>Kliknij</b> i zrób coś innego!</p>
                        <a href="{% url 'feelLucky' %}" class="btn btn-large btn-block btn-success">Szczęśliwy traf!</a>
                        {% endif %}
                    </div>
                </aside>
            </section>
{% endblock %}
{% block js-comp %}
{% load compress %}
{% compress js %}
<script src="{{STATIC_URL}}js/vendor/underscore.js"></script>  
<script src="{{STATIC_URL}}js/index.js"></script>  
{% endcompress %}
{% endblock %}