{% extends "base.html" %}
{% block main %}
            <section class="row main" role="main">
                <!-- Sekcja główna z wyszukiwarką -->
                <article class="span8">
                    <h2>Ile osób zabierasz na miasto?</h2>
                    <ul class="row">
                        <li class="span4">
                            <div class="first"><a href="{% url results %}" class="btn btn-xlarge btn-block btn-search">2 osoby</a></div>
                        </li>
                        <li class="span4">
                            <div><a href="{% url results %}" class="btn btn-xlarge btn-block btn-search">3/4 osoby</a></div>
                        </li>
                        <li class="span4">
                            <div class="first"><a href="{% url results %}" class="btn btn-xlarge btn-block btn-search">5-8 osób</a></div>
                        </li>
                        <li class="span4">
                            <div><a href="{% url results %}" class="btn btn-xlarge btn-block btn-search">9+ osób</a></div>
                        </li>
                    </ul>
                </article>
                <!-- Sidebar z reklamą -->
                <aside class="span4">
                    <div class="kontener">
                        <h3>Nasz pomysł:</h3>
                        <address>
                            <strong>Twitter, Inc.</strong><br>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                        <a href="#" class="btn btn-large btn-block">Zobacz naszą propozycję!</a>
                    </div>
                </aside>
            </section>
{% endblock %}