{% extends "base.html" %}
{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block main %}
            <section class="row main" role="main">
                <!-- Sekcja główna z wyszukiwarką -->
                <article class="span12 serp">
                    <header class="row">
                        <div>
                            {% if keyword %}
                            <h1>Wyniki wyszukiwania</h1>
                            <p class="lead">Słowo kluczowe: {{ keyword }}</p>
                            {% endif %}
                            {% if not keyword %}
                            <h1>Lokale dla 5-8 osób:</h1>
                            {% endif %}
                            <ul class="breadcrumb">
                                <li><a href="{% url 'index' %}">Strona główna</a> <span class="divider">/</span></li>
                                <li><a href="{% url 'index' %}">Wyszukiwarka</a> <span class="divider">/</span></li>
                                {% if keyword %}
                                <li class="active">Wyniki ({{ keyword }})</li>
                                {% else %}
                                <li class="active">Wyniki (lokal dla 5-8 osób)</li>
                                {% endif %}
                            </ul>
                        </div>
                    </header>
                    {% if not allPlaces %}
                    <div class="result row">
                        <p class="lead span12">Niestety nie znaleziono żadnego lokalu pasującego do tego słowa kluczowego.</p>
                    </div>
                    {% endif %}
                    {% for place in allPlaces %}
                    <div class="result row">
                        <hgroup class="span8">
                            <h2>{{ place.name }}</h2>
                            {% if place.short %}
                            <p>{{ place.short }}</p>
                            {% endif %}
                        </hgroup>
                        <div class="span4">
                            {% if place.hour_open and place.hour_close %}
                            <div class="hours span2">
                                <i class="icon-time"></i> Otwarte: 
                                <span>8:00 - 23:00</span>
                            </div>
                            {% endif %}
                            {% if place.tables.all %}
                            <div class="people span2">
                                <i class="icon-group"></i> Ilość osób: 
                                <span>5-8</span>
                            </div>
                            {% endif %}
                            <div class="span4 see-more">
                                <a href="{% url 'detail' place.slug %}" class="btn btn-large btn-warning">Zobacz lokal <i class="icon-double-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    {% if not forloop.last %}
                    <hr>
                    {% endif %}
                    {% endfor %}
                </article>
            </section>
{% endblock %}