<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Pomysł na dziś</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/bootstrap.css">
        <!-- <link rel="stylesheet" href="css/responsive.css"> -->
        <link rel="stylesheet" href="css/project.css">
        <!-- <link rel="stylesheet" href="css/typeplate.css"> -->
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="js/vendor/selectivizr-min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Facebook -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <!-- Code -->
        <div class="container">
            <header class="row">
                <div class="span2">
                    <img src="img/logo.png" alt="">
                </div>
                <div class="span2 fb">
                    <div class="fb-like" data-href="http://www.facebook.com/PomyslNaDzis" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="segoe ui"></div>
                </div>
                <div class="span8 szukajka">
                    <div class="input-append">
                        <input type="text" name="szukaj" value="" placeholder="wpisz nazwę lokalu lub ulicę" class="span6">
                        <button class="btn" type="button"><i class="icon-search"></i></button>
                    </div>
                </div>
            </header>
            <section class="row hello-unit">
                <div class="span12">
                    <h1>Czas zrobić coś innego!</h1>
                    <a href="#" class="btn btn-xlarge btn-cta pull-right">Kliknij tu!</a>
                </div>
            </section>
            <section class="row main" role="main">
                <!-- Sekcja główna z wyszukiwarką -->
                <article class="span12 serp">
                    <header class="row">
                        <div>
                            <h1>Lokale dla 5-8 osób:</h1>
                            <ul class="breadcrumb">
                                <li><a href="#">Strona główna</a> <span class="divider">/</span></li>
                                <li><a href="#">Wyszukiwarka</a> <span class="divider">/</span></li>
                                <li class="active">Wyniki (lokal dla 5-8 osób)</li>
                            </ul>
                        </div>
                    </header>
                    <div class="result sponsored row">
                        <hgroup class="span8">
                            <h2>Pizzernia "Smocze Oko"</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                        </hgroup>
                        <div class="span4">
                            <div class="hours span2">
                                <i class="icon-time"></i> Otwarte: 
                                <span>8:00 - 23:00</span>
                            </div>
                            <div class="people span2">
                                <i class="icon-group"></i> Ilość osób: 
                                <span>5-8</span>
                            </div>
                            <div class="span4 see-more">
                                <a href="#" class="btn btn-large btn-warning">Zobacz lokal <i class="icon-double-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="result row">
                        <hgroup class="span8">
                            <h2>Pizzernia "Smocze Oko"</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                        </hgroup>
                        <div class="span4">
                            <div class="hours span2">
                                <i class="icon-time"></i> Otwarte: 
                                <span>8:00 - 23:00</span>
                            </div>
                            <div class="people span2">
                                <i class="icon-group"></i> Ilość osób: 
                                <span>5-8</span>
                            </div>
                            <div class="span4 see-more">
                                <a href="#" class="btn btn-large btn-primary">Zobacz lokal <i class="icon-double-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="result row">
                        <hgroup class="span8">
                            <h2>Pizzernia "Smocze Oko"</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                        </hgroup>
                        <div class="span4">
                            <div class="hours span2">
                                <i class="icon-time"></i> Otwarte: 
                                <span>8:00 - 23:00</span>
                            </div>
                            <div class="people span2">
                                <i class="icon-group"></i> Ilość osób: 
                                <span>5-8</span>
                            </div>
                            <div class="span4 see-more">
                                <a href="#" class="btn btn-large btn-primary">Zobacz lokal <i class="icon-double-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
            <footer class="row">
                <!-- Linki do mniej ważnych podstron i klauzule prawne -->
                <div class="span3">
                    <ul class="unstyled">
                        <li class="">
                            <a href="#">Regulamin serwisu</a>
                        </li>
                        <li class="">
                            <a href="#">Polityka prywatności</a>
                        </li>
                        <li class="">
                            <a href="#">Kontakt</a>
                        </li>
                        <li class="">
                            <a href="#">Reklama w serwisie</a>
                        </li>
                    </ul>
                </div>
                <div class="span6">
                    <p>
                        Wszelkie prawa zastrzeżone. &copy; 2013 Pomysł na dziś
                    </p>
                </div>
                <!-- Odnośniki do portali społecznościowych -->
                <div class="span3">
                    <a href="#"><i class="social-fb"></i></a>
                    <a href="#"><i class="social-gp"></i></a>
                    <a href="#"><i class="social-tw"></i></a>
                </div>
            </footer>
        </div>

        <!-- JS Libs -->

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.0.min.js"><\/script>')</script>

        
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. 
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>-->
    </body>
</html>
