{% extends "base.html" %}
{% block main %}
            <section class="row main" role="main">
                <!-- Sekcja główna z wyszukiwarką -->
                <article class="span12 serp">
                    <header class="row">
                        <div>
                            <h1>Lokale dla 5-8 osób:</h1>
                            <ul class="breadcrumb">
                                <li><a href="#">Strona główna</a> <span class="divider">/</span></li>
                                <li><a href="#">Wyszukiwarka</a> <span class="divider">/</span></li>
                                <li class="active">Wyniki (lokal dla 5-8 osób)</li>
                            </ul>
                        </div>
                    </header>
                    <div class="result sponsored row">
                        <hgroup class="span8">
                            <h2>Pizzernia "Smocze Oko"</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                        </hgroup>
                        <div class="span4">
                            <div class="hours span2">
                                <i class="icon-time"></i> Otwarte: 
                                <span>8:00 - 23:00</span>
                            </div>
                            <div class="people span2">
                                <i class="icon-group"></i> Ilość osób: 
                                <span>5-8</span>
                            </div>
                            <div class="span4 see-more">
                                <a href="#" class="btn btn-large btn-warning">Zobacz lokal <i class="icon-double-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="result row">
                        <hgroup class="span8">
                            <h2>Pizzernia "Smocze Oko"</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                        </hgroup>
                        <div class="span4">
                            <div class="hours span2">
                                <i class="icon-time"></i> Otwarte: 
                                <span>8:00 - 23:00</span>
                            </div>
                            <div class="people span2">
                                <i class="icon-group"></i> Ilość osób: 
                                <span>5-8</span>
                            </div>
                            <div class="span4 see-more">
                                <a href="#" class="btn btn-large btn-primary">Zobacz lokal <i class="icon-double-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="result row">
                        <hgroup class="span8">
                            <h2>Pizzernia "Smocze Oko"</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                        </hgroup>
                        <div class="span4">
                            <div class="hours span2">
                                <i class="icon-time"></i> Otwarte: 
                                <span>8:00 - 23:00</span>
                            </div>
                            <div class="people span2">
                                <i class="icon-group"></i> Ilość osób: 
                                <span>5-8</span>
                            </div>
                            <div class="span4 see-more">
                                <a href="#" class="btn btn-large btn-primary">Zobacz lokal <i class="icon-double-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
{% endblock %}